.signout {
  background-color: white;
  border: none;
  color: rgb(45, 42, 42);
  width: 180px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 50px;
}
.signout:hover {
  background-color: blueviolet;
  transition: all 1s;
}
.text {
  color: rgb(60, 179, 113);
  text-align: center;
  font-size: 40px;
}
.navbar {
  background: Navy;
}
